* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5rem;
  color: #ff5d73;
  text-align: center;
  margin-bottom: 1.5rem;
}

.h1-secondary-color {
  color: #5effea;
}

h2 {
  font-size: 2rem;
  color: #7c7a7a;
  margin-bottom: 1rem;
}

i {
  font-size: 5rem;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80rem;
}

.box > * {
  width: 100%;
}

.btn {
  padding: 13px;
  border-radius: 5px;
  color: white;
  background-color: #ff5d73;
  border: none;
  margin-top: 1.875rem;
  font-size: 1.5rem;
  width: 12rem;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #e55367;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  transform: none;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* forms */

input {
  border: none;
  border: 1.5px solid #ff5d73;
  padding: 12px;
  border-radius: 5px;
}

input::placeholder {
  color: #7c7a7a;
}

input:focus {
  outline: none !important;
  border: 1px solid #ff5d73;
  box-shadow: 0 0 2px #ff5d73;
}
