.answer-container {
  display: flex;
  width: 100%;
  font-size: 1rem;
  background-color: #ff5d73;
  color: white;
  margin-top: 1.875rem;
  border-radius: 5px;
}

.answer-container:hover {
  background-color: #e55367;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  cursor: pointer;
}

.answer-prefix {
  background-color: #7c7a7a;
  padding: 20px;
  border-radius: 5px 0 0 5px;
}

.answer-text {
  padding: 20px;
  width: 100%;
}

.correct {
  background-color: #5dffe9;
  transition: background-color 300ms linear;
}

.incorrect {
  background-color: #ff1131;
  transition: background-color 300ms linear;
}

/* hud */
#hud {
  display: flex;
  justify-content: space-between;
  color: #7c7a7a;
  margin-bottom: 3.125rem;
}

.hud-prefix {
  font-size: 2rem;
}

#progress-text {
  margin-bottom: 1rem;
}

#progress-bar {
  height: 2.5rem;
  border: 1px solid #5effea;
  border-radius: 5px;
  width: 12.5rem;
}

.progress-bar-full {
  height: 2.4rem;
  width: 0%;
  background-color: #5effea;
}

/*  Tablets */
@media (min-width: 576px) {
  .box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Mobile  640px */
@media screen and (max-width: 39.9375em) {
  .box {
    padding-left: 40px;
    padding-right: 40px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #progress-text {
    display: none;
  }

  #progress-bar {
    width: 7.5rem;
    margin-top: 5px;
  }
}

/* Mobile  Iphone 8 */
@media screen and (max-width: 39.9375em) and (max-height: 668px) {
  .hud-prefix {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .answer-container {
    margin-top: 0.875rem;
  }
  .answer-text {
    font-size: 1rem;
    padding: 16px;
  }

  .answer-prefix {
    padding: 16px;
  }
  .progress-bar-full {
    height: 0.9rem;
  }
  #progress-bar {
    height: 1rem;
    margin-top: 5px;
  }
}

/* shitty phones */
@media screen and (max-width: 360px) {
  .box {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hud-prefix {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  #progress-text {
    display: none;
  }

  #progress-bar {
    width: 7.5rem;
    margin-top: 5px;
  }

  .answer-container {
    margin-top: 0.875rem;
  }
  .answer-text {
    font-size: 1rem;
  }

  .answer-prefix {
    padding: 16px;
  }
  .progress-bar-full {
    height: 0.9rem;
  }
  #progress-bar {
    height: 1rem;
  }
}
