#highscore-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.5rem;
}

.high-score {
  font-size: 2rem;
  color: #7c7a7a;
  margin-top: 1.5rem;
}

.high-score:hover {
  transform: scale(1.15);
}

/* Mobile  640px */
@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 3.5rem;
  }
}

/* shitty phones */
@media screen and (max-width: 321px) {
  h1 {
    font-size: 3rem;
  }
}
